#jsch-mobile-menu {
    font-family: Tahoma, sans-serif;
    position: absolute;
    left:0;
    top:0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:200px;
    height: 100%;
    background-color:#fff;
    color:silver;   
}

.jschMenubarClose {
    padding-top:10px;
    text-align:right;
}

.jschMenubarClose span {   
    padding-right:10px;
    cursor:pointer;
}

#jsch-mobile-menu ul {
    list-style-type: none;
    padding-inline-start:0;
    margin-block-start:0;
    margin-block-end:0;
    position: relative;
}

#jsch-mobile-menu li {
    margin:10px;
}

#jsch-mobile-menu ul li {
    position:relative;
}

#jsch-mobile-menu ul li {
    color:black;
    text-decoration:none;
}

#jsch-mobile-menu, ul li a {
    color:black;
    text-decoration:none;
}

.jsch-hidden-menubar {
    display:none;
}

.jsch-hidden-menu {
    display:none;
}

.jsch-show-animate {
    animation-name: show;
    animation-duration: 0.5s;
    animation-delay: 0s;    
}

.jsch-hide-animate {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-delay: 0s;    
}

@keyframes show {
    0%   {left:-200px;}
    100% {left:0px;}
  }  

@keyframes hide {
    0%   {left:0px;}
    100% {left:-200px;}
  }

.jsch-parentmenuarrow {
    position:relative;
    float:left;
}

.jsch-rotate90-animate {
    animation-name: rotate90;
    animation-duration: 0.5s;
    animation-delay: 0s;
    transform: rotate(90deg);  
}

.jsch-rotate0-animate {
    animation-name: rotate0;
    animation-duration: 0.5s;
    animation-delay: 0s; 
    transform: rotate(0deg);  
}

@keyframes rotate90 {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(90deg);}   
  }  

@keyframes rotate0 {
    0%   {transform: rotate(90deg);}
    100% {transform: rotate(0deg);}
  }
